* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    min-width: 992px;
    font-family: "Helvetica";
  }
  
  .navbar{
    height: 80px;
    padding-left: 30px;
  }
  
  .logo{
    line-height: 60px;
    float: left;
  }
  
  .navbar ul{
    float: right;
  }
  
  .navbar li{
    list-style-type: none;
    float: left;
    margin-right: 30px;
    line-height: 60px;
  }
  
  .navbar a{
    text-decoration: none;
    color: black;
    font-style: bold;
    font-size: large;
  }
  
  .navbar .nav_menus {
    color: darkviolet;
    background-color: blanchedalmond;
  }

  .printusername {
    text-align: center;
    font-size: 30px;
  }
  .printusername .realyname {
    color: salmon;
  }
  
  .hero_header{
    height: 450px;
    width: 100%;
  }
  
  body h1{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 24px;
    font-style: bold;
    color: #545454;
  }
  main {
    min-height: 100px;
  }

  table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: larger;
  }
  td {
    border:  1px solid;
    padding: 5px;
    text-align: center;
  }
  .table_coll{
    width: 20%;
    background-color: wheat;
  }
  .realprice{
    text-decoration: line-through;
  }
  .discountprice{
    color:darkgreen;
  }

  footer{
    width: auto;
    min-height: 70px;
    margin: auto;
    padding: 0 8px 0 8px; /* 각각 위 오른쪽 아래 왼쪽 */
    display: flex;
    text-align: center;
    flex-direction: column; /* 요소들을 수평정렬 */
  }

.buy_btn{
    width: 15%;
    height: 48px;
    box-sizing: border-box;
    background-color: seagreen;
    color: aliceblue;
}

.btn_back{
    width: 10%;
    height: 48px;
    box-sizing: border-box;
    background-color: yellow;
}

.input_txt{
  width: 100%;
  text-align: center;
}

 .input_area{
  width: 100%;
  min-height: 200px;
 }

 .iamge_text{
  font-size: larger;
  text-align: center;
 }