* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    min-width: 992px;
    font-family: "Helvetica";
  }
  
  .navbar{
    height: 80px;
    padding-left: 30px;
  }
  
  .logo{
    line-height: 60px;
    float: left;
  }
  
  .navbar ul{
    float: right;
  }
  
  .navbar li{
    list-style-type: none;
    float: left;
    margin-right: 30px;
    line-height: 60px;
  }
  
  .navbar a{
    text-decoration: none;
    color: black;
    font-style: bold;
    font-size: large;
  }
  
  .navbar .nav_menus {
    color: darkviolet;
    background-color: blanchedalmond;
  }
  
  .hero_header{
    height: 450px;
    width: 100%;
  }
  
  body h1{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 24px;
    font-style: bold;
    color: #545454;
  }
  main {
    min-height: 700px;
  }
  .products {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 740px;
    text-align: center;
  }
  
  .products img{
    width: 225px;
    height: 225px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .products a{
    text-decoration: none;
    color: black;
    float: left;
    font-size: 16px;
  }
  
  .price{
    margin-top: 4px;
    margin-bottom: 80px;
    font-size: x-large;
  }
  
  .clearfix{
    clear: both;
  }
  
  footer{
    width: auto;
    min-height: 70px;
    margin: auto;
    padding: 0 8px 0 8px; /* 각각 위 오른쪽 아래 왼쪽 */
    display: flex;
    text-align: center;
    flex-direction: column; /* 요소들을 수평정렬 */
  }

  .paging button {
    padding: 8px 18px;
    font-size: 14px;
    background-color: aquamarine;
  }
  