* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    min-width: 992px;
    font-family: "Helvetica";
  }
  
  .navbar{
    height: 80px;
    padding-left: 30px;
  }
  
  .logo{
    line-height: 60px;
    float: left;
  }
  
  .navbar ul{
    float: right;
  }
  
  .navbar li{
    list-style-type: none;
    float: left;
    margin-right: 30px;
    line-height: 60px;
  }
  
  .navbar a{
    text-decoration: none;
    color: black;
    font-style: bold;
    font-size: large;
  }
  
  .navbar .nav_menus {
    color: darkviolet;
    background-color: blanchedalmond;
  }